
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.card-container {
  position: relative;
  width: 20em;
  height: 100%;
  overflow: hidden;
}

.card {
  display: none;   
}

.card-inner {
  height: 100%; 
}

.card-img-top {
  height: 150%;
  width: 100%;
  object-fit: cover; 
}

.card.active {
  display: block;
  animation: fadeIn 2s;
}

.boton-activo {
  background-color: #000305;
}

.boton-no-activo {
  background-color: #6c757d;
}

@keyframes fadeIn{
  from { opacity: 0; }
  to { opacity: 1; }
}




