<div class="carousel-container mt-5">
  <div class="card-container rounded">
    <div *ngFor="let step of steps; let i = index" class="card " [class.active]="i === currentStep">
      <div [style.backgroundColor]="step.bgcolor" class="card-inner rounded-top">
        <img [src]="step.img" class="card-img-top" alt="{{ step.title }}">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ step.title }}</h5>
        <p class="card-text">{{ step.description }}</p>
        <div class="container">
          <div class="row d-flex">
            <div class="col-6 justify-content-start">
              <span>
                <button *ngFor="let step of steps; let idx = index" 
                        class="btn btn-sm me-1 rounded-pill" 
                        [ngClass]="{'boton-activo': idx === currentStep, 'boton-no-activo': idx !== currentStep}"
                        (click)="setCurrentStep(idx)">
                </button>
              </span>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <button *ngIf="currentStep > 0" class="btn btn-dark rounded-circle position-relative m-1" (click)="irAtras(i)">
                <i class="bi bi-arrow-left"></i>
              </button>
              <button *ngIf="currentStep < steps.length - 1" class="btn btn-dark rounded-circle position-relative m-1" (click)="irAdelante(i)">
                <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
